{%  include "registration/_common_confirmation_mail_text.html.twig" %}

<p>
    Merci de confirmer votre email en cliquant sur le lien ci dessous pour vous identifier:<br><br>
    ==========<br>
    <a href="{{ signedUrl }}">Confirmer mon Email</a>.<br>
    ==========<br><br>
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bonne journée!
</p>
