{%  include "registration/_common_confirmation_mail_text.html.twig" %}

<p>
    Merci de cliquer sur le lien ci dessous pour générer votre nouveau mot de passe:<br><br>
    ==========<br>
    <a href="{{ url('User.resetPwd.email') ~ urlTokenParameter }}">Nouveau mot de passe</a>.<br>
    ==========<br><br>
    Ce lien expirera dans une heure.
</p>

<p>
    Bonne journée!
</p>

