<div class="row text-white mt-3 d-flex align-baseline">
    <div class="col-6 text-center">
        <p class="btn btn-secondary text-center rounded"><i class="far fa-edit"></i></p>
    </div>
    <div class="col-6 text-center">
        <p class="btn btn-danger text-center rounded"><i class="far fa-trash-alt"></i></p>
    </div>
</div>