@media screen and (min-width: 768px) {
    #heroSection {
        height: 100vh;
        background:no-repeat center;
        background-size:contain;
    }

    .subHeroSection{

        height:90%;
        justify-content: center;
        align-items: center;
    }

    #displayMediasBtn{
        display:none;
    }
}
@media screen and (max-width: 767px) {

    #heroSection {
        height: 400px;
        background:no-repeat center;
        background-size:contain;

    }
    .subHeroSection{
        justify-content: center;
        align-items: center;
    }

    #medias_section{
        display:none;
    }

}
.btnHeroSection{
    height:40px;
    width:40px;
    margin:5px 0;
}