@media (min-width: 768px) {
    #heroSection {
        height: 100vh;
    }

    .subHeroSection{
        height:90%;
        justify-content: center;
        align-items: center;
    }

    #displayMediasBtn{
        display:none;
    }
}
@media (max-width: 767px) {
    .subHeroSection{
        height:400px;
        justify-content: center;
        align-items: center;
    }

    #medias_section{
        display:none;
    }

}