{% extends 'generic/base.html.twig' %}
{% block title %}Modifier commentaire {% endblock %}
{% block body %}
    <div class="container" id="comment_edition">
        <div class="row d-flex justify-content-center mt-4">
            <div class="col-10">
                {{ form_start(commentEditionForm) }}
                <div class="form-group mb-4">
                    <label for="comment_form_commentEditionText" class="mb-3">Modification du commentaire:</label>
                    {{ form_widget(commentEditionForm.commentText,{'attr': {'class': 'form-control','cols':'300'}}) }}
                </div>
                {{ form_rest(commentEditionForm) }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Modifier Commentaire</button>
                    </div>
                {{ form_end(commentEditionForm) }}
            </div>
        </div>
    </div>

{% endblock %}