{% extends 'generic/base.html.twig' %}
{% block title %}Admin: validation commentaires{% endblock %}
{% block body %}
    <div class="container my-4 py-3" id="comments_to_validate">
        {% if unvalidatedComments[0].commentText is defined %}
            {% for comment in unvalidatedComments %}
                <div class="row my-3 d-flex justify-content-center">
                    <div class="col-1 mx-auto my-auto text-center">
                        <img class="img-fluid rounded-circle my-auto"
                             src="https://www.w3schools.com/howto/img_avatar2.png"
                             style="max-width:50px">
                        <div class="text-secondary">{{ comment.author.username }}</div>
                    </div>
                    <div class="col-7 p-1">
                        <div class="border h-100 p-2">{{ comment.commentText }}</div>
                    </div>
                    <div class="col-2 text-center">
                        <div class="col-6 text-center text-white my-1">
                            <a class="btn btn-success text-center rounded"
                               href="{{ path('Comment.validate', {commentId:comment.id}) }}"><i
                                        class="fas fa-check"></i></a>
                        </div>
                        <div class="col-6 text-center my-1">
                            <a class="btn btn-danger text-center rounded"
                               href="{{ path('Comment.delete', {commentId:comment.id}) }}"><i
                                        class="far fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Aucun commentaire en attente de validation</p>
        {% endif %}
    </div>
{% endblock %}
