{% extends 'generic/base.html.twig' %}
{% block title %}Homepage-Liste tricks{% endblock %}
{% block body %}
    {% include "tricks/_heroSection.html.twig" %}
    <div class="container-fluid" id="tricks_list_section">
        {# Tricks cards #}
        <div class="row " id="tricks_row">
            {% include "tricks/_tricksCards.html.twig" %}
        </div>

        {# "load more" and "go up" buttons #}
        <div class="row my-5 d-flex position-relative text-center">
            <div class="text-center">
                <button id="next_tricks_button" href="#tricks_list_section" class="btn btn-primary px-3 "> Tricks suivants</button>
            </div>
            <div class="text-center ">
                <a href="#tricks_list_section" class="btn btn-primary position-absolute bottom-0 end-0 p-4 m-3"> <i
                            class="fas fa-arrow-up"></i> </a>
            </div>
        </div>
        <script>
            /*pagination starts at 2 because page 1 is displayed by default*/
            let pagination=2;
            document.getElementById('next_tricks_button').onclick=function(){
               $.ajax({
                    url:('homepage/'+pagination),
                    type: "GET",
                    async: true,
                    success: function (controllerReturn)
                    {
                        document.getElementById('tricks_row').innerHTML +=(controllerReturn);
                        pagination +=1;
                    }
                });
            };
        </script>
    </div>
{% endblock %}

