{% extends 'generic/base.html.twig' %}
{% block title %} Mot de passe oublié {% endblock %}
{% block body %}
    <div class="container">
        <div class="row vh-80 d-flex justify-content-center ">
            <div class="col-10 col-md-4 vh-50 border rounded m-3 p-3">
                {{ form_start(resetPwdForm) }}
                {% include 'generic/_formErrors.html.twig' with {'SpecificForm':resetPwdForm} %}
                <div class="form-group mb-4">
                    <label for="registration_form_username" class="mb-3">Nom d'utilisateur:</label>
                    {{ form_widget(resetPwdForm.username,{'attr': {'class': 'form-control'}}) }}
                    <div class="text-center my-4">
                        <button type="submit" class="btn btn-primary">Reinitialiser mon mot de passe</button>
                    </div>
                </div>
                {{ form_end(resetPwdForm) }}
            </div>
        </div>
    </div>
{% endblock %}

